<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上交所技术有限责任公司专线管理</title>
</head>
<body>
<table>
    <th>序号</th>
    <th>登记编号</th>
    <th>用户名称</th>
    <th>业务类型</th>
    <th>申请依据</th>
    <th>申请类型</th>
    <th>速率</th>
    <th>线路类型</th>
    <th>地域</th>
    <th>一次性费用</th>
    <th>月租</th>
    <th>计费开始日期</th>
    <th>计费结束日期</th>
    <th>本端地址</th>
    <th>对端地址</th>
    <th>VLAN</th>
    <th>联系人</th>
    <th>联系电话</th>
    <th>申请时间</th>
    <th>合同号</th>
    <th>首次同用户确认日期</th>
    <th>提交用章日期</th>
    <th>原件邮寄日期</th>
    <th>工单号</th>
    <th>收到时间</th>
    <th>专线编号</th>
    <th>施工日期</th>
    <th>正是完工日期</th>
    <th>是否告知用户</th>
    <th>运营商验收单是否提供</th>
    <th>备注</th>
{% for row in data %}


{% endfor %}
</table>
</body>
</html>